mixin accountPassword
    form.form-user-password
        .form__group
            label.form__label(for="passwordCurrent") Password Current
            input#passwordCurrent.form__input(type="password" name="passwordCurrent" placeholder="********" minlength="8" required)
        
        .form__group
            label.form__label(for="password") Password
            input#password.form__input(type="password" name="password" placeholder="********" minlength="8" required)
        
        .form__group
            label.form__label(for="passwordConfirm") Confirm Password
            input#passwordConfirm.form__input(type="password" name="passwordConfirm" placeholder="********" minlength="8" required)

        .form__group
            input.button.btn--save-password(type="submit", value="Update My Password →")
    .space
